<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.weather_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppManagement.AboutActivity"></activity>
        <activity android:name=".FetchCurrentLocation" />
        <activity android:name=".NotUsed.NotificationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".References.LocationAccess" />
        <activity android:name=".WeatherScreens.Home" />
        <activity android:name=".WeatherScreens.ForecastDetailActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AppManagement.AddLocationActivity" />
        <activity android:name=".NotUsed.UnitSettingActivity" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".Introduction.AppIntro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>